@font-face {
	font-family: iransans;
	src: url('../fonts/IRANSansWeb.woff2');
}
body {
	background-color: white;
	margin: 0;
	font-family: iransans;
	line-height: 40px;
}
html{
	font-size: 15px;
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	color: inherit;
}
#header .nav {
	width: 100%;
	padding: 7px 0;
	border-bottom: 1px solid rgba(204, 198, 198, 0.151);
	position: relative;
}
#header .phone {
	width: 30%;
	color: rgba(128, 128, 128, 0.527);
	display: block;
}
#header .phone {
	padding: 0px 20px;
	font-size: 14px;
	margin-top: 10px;
}
.phone span {
    font-size: 14px;
    margin-left: 10px;
}
#header .menu {
	padding: 0px 20px;
	width: 100%;
	text-align: right;
}
#header .menu ul, li {
	list-style: none;
	margin: 0;
	text-align: right;
	display: inline-flex;
}
#header .menu ul>li>a {
	padding: 0 15px;
	color: rgba(128, 128, 128, 0.527);
	font-size: 15px;
	text-decoration: none;
	display: block;
	margin: 10PX 0;
	text-align: center;
	font-weight: bolder;
}
#header .menu ul>li>a:hover {
	color: rgba(48, 46, 46, 0.527);
}
#header .login-box {
	position: relative;
}
#header .logo {
	width: 100%;
	margin: 25px 0;
	text-align: center;
	line-height: 50px;
	text-transform: capitalize;
	font-weight: bolder;
}
#header .search {
    font-weight: bolder;
    height: 100px;
    margin: 55px 0px;
    display: inline-flex;
    height: 32px;
}
#header .search>button {
	background-color: white;
	height: 30px;
	width: 170px;
	border: 1px solid rgba(128, 128, 128, 0.027);
	color: rgba(128, 128, 128, 0.37);
	font-size: 13px;
	font-family: iransans;
	display: none;
}
.login{
	margin: 29px 0px;
}
.login button a{
	color: inherit;
	text-decoration: none;
	padding-left: 10px;
}
.shopbag{
	position: absolute;
	margin-top: 40px;
	margin-left: 25px;
	border: 2px solid #eee;
	border-radius: 5px;
	width: 50%;
	z-index: 2;
	background-color: white;
}
.shopbag h5 {
    padding-right: 10px;
}
.listbuy {
    display: inline-flex;
    direction: rtl;
}
.listbuy a {
    display: inline-flex;
    direction: rtl;
	text-decoration: none;
}
.listbuy a img {
    height: 100%;
}
.listbuy p {
    line-height: normal;
    margin-top: 10px;
}
.editlist img {
    height: 46px !important;
}
.listbuy h6 {
    margin-right: 5px;
}
.listbuy p {
    line-height: 12px;
    margin-top: 23px;
    margin-left: 5px;
}
.bagbtns {
    display: inline-flex;
    direction: rtl;
    margin-right: 20px;
}
.paybag {
    padding: 2px 13px;
    background-color: #391224;
    color: white;
    border-radius: 5px;
    margin-right: 11px;
    margin-bottom: 10px;
}
.paybag:hover{
	text-decoration: none;
	color: white;
}
#header .search label {
	display: block;
	float: left;
	width: 30px;
	font-size: 10px;
	border: 1px solid rgba(128, 128, 128, 0.034);
	background-color: rgba(128, 128, 128, 0.13);
}
#header .search label option {
	color: rgba(128, 128, 128, 0.37);
	text-align: right;
}
.search form{
	margin-left: -4px;
}
input[type=search]{
	text-align: right;
    direction: rtl;
    background-image: url(../images/Group17.png);
    background-repeat: no-repeat;
    border: none;
    padding: 0px 9px;
    background-position-x: 5px;
    background-position-y: center;
    background-size: 22px;
	margin: 0px 15px;
}
input[type="search"]:focus-visible {
    border: 1px solid #f0d9aa;
    outline: none;
	border-radius: 5px;
}
#header .login span :hover {
	color: rgb(73, 69, 69);
}
#header .login button {
    background-color: transparent;
    margin: 10px 0;
    border: 1px
 solid rgba(128, 128, 128, 0.103);
    color: black;
    font-weight: bolder;
    direction: rtl;
    padding: 5px;
}
#header .login>span {
	padding: 8px;
	color: rgba(128, 128, 128, 0.37);
	font-size: 20px;
	margin: 10px 0;
}
#header .list .listbar {
	width: 100%;
	display: block;
	float: left;
	position: relative;
	text-align: center;
	margin: 30px auto;
	font-size: 15px;
	font-weight: 300;
	padding-top: 17px;
}
.listbar li {
    padding: 0px 20px;
}
#header .list .listbar>ul li a {
	float: left;
	padding: 0 15px;
	color: rgba(128, 128, 128, 0.856);
	margin: auto;
}
#header .list .listbar>ul li :hover {
	color: rgba(68, 64, 64, 0.856);
	text-decoration: none;
}
#header .line {
	margin: 25px;
	width: 100%;
	height: 10px;
	border-bottom: 1px solid rgba(156, 153, 153, 0.089);
	;
}
.line-header {
	margin: -30px 0px;
	width: 100%;
	height: 10px;
	border-bottom: 1px solid rgba(156, 153, 153, 0.089);
	;
}
.login img{
	padding: 10px 15px;
	width: 52px;
}
.login li {
    padding: 0px 3px;
}
#opt{
	text-align: right;
	border: 1px solid white;
	background-color: white;
	outline: none;
}
#opt optgroup{
	text-align: right;
	direction: rtl;
}
.text {
	text-align: right;
	width: 91%;
	margin: 60px;
	padding: 0 95px;
}
.text>h2 {
	margin: 10px 0;
	text-align: justify-righjt;
	line-height: 39px;
	font-weight: 900;
}
.text span {
	margin: 20px 0;
	text-align: justify;
	line-height: 37px;
	font-size: 17px;
	padding: 15px 0;
}
.pic .picture img {
	width: 100%;
	padding: 25px;
}
.daste {
	position: relative;
	text-align: right;
	padding: 0 20px;
	font-size: 17px;
	font-weight: bolder;
	width: 97%;
}
.daste .group {
	margin: 0 20px;
	background-color: gold;
	border: 1px solid transparent;
	padding: 20px 50px;
	border-radius: 5px;
	transition: 0.5s;
}
.daste .group:hover {
    box-shadow: 1px 1px 20px 0.2px #ffd700b0;
    background: transparent;
    border: 1px solid gold;
}
.daste .product {
	background-color: transparent;
	border: 1px solid transparent;
	color: #555555;
}
.daste .product:hover {
	color: rgb(46, 43, 43)
}
.d-product {
	background-color: #391224;
	margin: 70px 50px;
	text-align: center;
	color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 20px 0.2px rgba(7, 7, 7, 0.32);
	/*transition: 1s;*/
	display: flow-root;
}
.d-product ul{
	margin-right: 35px;
}
.d-product ul li {
	display: inline-flex;
	text-align: center;
}
.d-product ul li img:hover {
	box-shadow: 0px 47px 60px rgba(15, 14, 15, 0.31);
}
.d-product h2 {
	padding: 30px;
}
.d-product img {
	width: 90px;
	height: 85px;
	color: black;
	background-color: #391224;
	margin: 12px;
	border: 1px solid gold;
	border-radius: 50%;
	padding: 25px;
	margin: 10px px;
}
.d-product .title {
	margin-top: 15px;
	margin-bottom: 90px;
}
.slider-1 .slide {
	display: inline-block;
	text-align: center;
	margin: 10px auto;
	position: relative;
	padding: 5px;
	border-radius: 5px;
	transition: 0.5s;
}
.slider-1 .slide:hover {
	color: #ff0000ab;
}
.slider-1 .slide .heart {
	background: whitesmoke;
	padding: 30px 60px;
}
.slider-1 .slide>.t-slide {
	display: block;
}
.top-title {
	text-align: center;
}
.slider-1 .next {
	position: relative;
	background-color: transparent;
	border: none;
}
.slider-1 .next .str-2 {
	position: absolute;
	left: 42%;
	top: 33%;
}
.slider-1 .next:hover .str-2 {
	box-shadow: 1px 1px 20px black;
	background-color: rgba(0, 0, 0, 0.199);
}
.n-produc {
	position: relative;
}
#test .next {
	background-color: transparent;
	border: none;
	margin: 0px 20px;
}
#test .sold {
	display: inline-flex;
}
.n-produc {
	text-align: center;
	margin-top: 70px;
}
.next .str-2 {
	width: 100%;
	height: 100%;
	border: 1px solid gray;
	border-radius: 50%;
	padding: 8px;
}
.next .str-22 {
	transform: rotate(180deg);
	border: 1px solid gray;
	border-radius: 50%;
	padding: 8px;
}
.brand {
	text-align: right;
	margin: 50px 0;
	direction: rtl;
}
.brand .sold {
	font-weight: 900;
	margin: 0 5px;
}
.brand .sold .percent {
	padding: 3px 4px;
	font-size: 11px;
	background: rgba(255, 0, 0, 0.795);
	border-radius: 50%;
}
.brand h5 {
	color: rgba(61, 57, 57, 0.808);
	font-weight: bolder;
	padding: 25px 0;
}
.brand .icon .glyphicon {
	padding: 15px 8px;
	display: inline-flex;
	color: rgba(85, 80, 80, 0.863);
	font-size: 20px;
}
.new-product {
	margin: 90px 0;
}
.new-product .btn>button {
	background: #e9e9e9;
	padding: 8px 45px;
	border: none;
	border-radius: 5px;
	margin: 0 20px;
	transition: 0.5s;
}
.new-product .btn>button:hover {
	box-shadow: 1px 1px 20px 0.1px rgb(66, 65, 65);
}
.new-product h3 {
	text-align: right;
}
#baner .lg {
	margin: 20px auto;
	text-align: center;
}
#baner .lg img {
	padding: 0 20px;
}
#footer {
	background: #391224;
	margin-top: 50px;
}
.footer .icon {
	display: inline;
}
.footer .icon img {
	width: 50px;
	height: 50px;
	color: whitesmoke;
	display: inline;
	margin: 15px 0;
	text-align: center;
}
.footer .tit {
	color: rgb(155, 143, 143);
	display: inline;
	text-align: center;
}
.ft-tit p {
	display: block;
	color: #918183;
	text-align: center;
}
.ft-tit p:hover {
    color: white;
    transition: 400ms;
}
.ft-tit a {
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}
.ft-tit h4{
	display: block;
    text-align: center;
    color: whitesmoke;
}
.ft-tit .gp {
	padding: 100px;
	display: inline;
}
.footer .nav {
	color: whitesmoke;
	font-size: 10px;
	margin: 20px;
	padding: 10px;
	text-align: center;
}
.footer .gp {
	padding: 0px 20px;
    text-align: center;
    display: inline;
    width: 80%;
}
.footermenu{
	margin: 75px 0px;
}
.footericons{
	padding: 0px 15px;
    padding-left: 35px;
}

.social{
    text-align: center;
}
.social img {
    margin: 0px 8px;
}
.copytext{
	text-align: left;
}
.copyrightbar{
	color: white;
	margin-top: 70px;
}
.new-product-archive {
	margin: 90px 0;
	margin-top: 0px;
}
.new-product-archive .btn>button {
	background: #e9e9e9;
	padding: 8px 45px;
	border: none;
	border-radius: 5px;
	margin: 0 20px;
	transition: 0.5s;
}
.new-product-archive .btn>button:hover {
	box-shadow: 1px 1px 20px 0.1px rgb(66, 65, 65);
}
.new-product-archive h3 {
	text-align: right;
}
.btn img{
	width: 11%;
    padding: 8px 24px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}
.line {
	margin-bottom: 60px;
	width: 100%;
	height: 10px;
	border-bottom: 1px solid rgba(156, 153, 153, 0.089);
}
.slider-1 h3{
	text-align: center;
}
.new-product-2 h3{
	text-align: center;
}
.social img {
    margin-right: 10px;
}
.about-head{
	background-image: url('../images/whatsapp.png');
	background-position: right;
	background-repeat: no-repeat;
	text-align: center;
	padding: 130px 0px;
}
.daste-a {
	position: relative;
	text-align: center;
	padding: 0 20px;
	font-size: 17px;
	font-weight: bolder;
	padding-top: 40px;
}
.daste-a a{
	text-decoration: none;
	color: inherit;
}
.daste-a a:hover{
	text-decoration: none;
	color: inherit;
}
.daste-a .group {
	margin: 0 20px;
	background-color: gold;
	border: 1px solid transparent;
	padding: 20px 50px;
	border-radius: 5px;
	transition: 0.5s;
}
.daste-a .group:hover {
	box-shadow: 1px 1px 20px 0.2px #ffd700b0;
    background: transparent;
    border: 1px solid gold;
}
.daste-a .product {
	background-color: transparent;
	border: 1px solid transparent;
	color: #555555;
}
.daste-a .product:hover {
	color: rgb(46, 43, 43)
}
#ourgoals{
	text-align: center;
	margin:130px 0px;
}
.goalvec{
	display: inline-flex;
	direction: rtl;
	margin-top: 30px;
}
.goalvec p{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	font-size: 15px;
}
.goalvec img {
    width: 18%;
}
.ourvals h3{
	text-align: center;
}
.ourvals{
	text-align: center;
	padding: 100px;
	direction: rtl;
}
.ourvals p{
	text-align: center;
}
.contactform{
	text-align: center;
	direction: rtl;
	float: right;
	margin: 0px 75px;
}
.contactform label{
	text-align: right;
	float: right;
}
.contactform input[type=text]{
	background: #F5F5F5;
	border-radius: 10px;
	border: none;
	padding: 15px 5px;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}
.contactform input[type=email]{
	background: #F5F5F5;
	border-radius: 10px;
	border: none;
	padding: 15px 5px;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
} 
.contactform input[type=submit] {
    background: linear-gradient(256.53deg, #FFD700 -5.35%, #EDC800 110.04%);
    padding: 15px 30px;
	float: right;
    border: none;
    border-radius: 5px;
	margin-top: 37px;
}
.contactform input[type=radio]{
	float: right;
	margin-top: 27px;
	opacity: 0;
	margin-right: 20px;
}
.contactform label{
	float: right;
	margin-top: 22px;
	margin-right: 10px;
}
.formtitle{
	text-align: center;
}
.teacherstitle{
	text-align: right;
}
.teachersleveltitle{
	text-align: right;
	direction: rtl;
}
.teacherbio {
    text-align: justify;
    text-align-last: right;
    direction: rtl;
}
.teacher{
	display: inline-flex;
	direction: rtl;
	margin-bottom: 35px;
}
.teacher img{
	height: 100%;
	margin-right: 20px;
}
.teacherfilter{
	text-align: center;
	border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 5px 0px;
    margin-bottom: 60px;
	padding-top: 13px;
}
.teachers{
	margin-top: 40px;
	margin-left: 10px;
}
#baner h4{
	text-align: center;
}
#baner h2{
	text-align: center;
}
#baner{
	margin-bottom: 80px;
}
.checkmark{
	float: right;
	background-color: #F5F5F5;
  	border-radius: 50%;
	height: 26px;
	width: 26px;
	margin-top: 21px;
	margin-right: -13px;
}
.contactform input[type=radio]:checked ~ .checkmark {
	background-color: #391224;
}
.contactform input[type=checkbox]:checked ~ .checkmark {
	background-color: #391224;
}
.contactform input[type=checkbox]{
	float: right;
    margin-top: 27px;
    opacity: 0;
    cursor: pointer;
    margin-right: 20px;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkmark input:checked ~ .checkmark:after {
	display: block;
}
.checkmark .checkmark:after {
	top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}
.formcont{
	background-image: url("../images/WhatsApp1.png");
	background-repeat: no-repeat;
	background-position-x: right;
	padding-top: 90px;
	padding-bottom: 100px;
}
.owl-nav{
	display: none;
}
.owl-dots{
	display: none;
}
.prod {
    text-align: center;
    display: block;
}
@media only screen and (max-width:1258px) {
	.footericons{
		display: none;
	}
}
@media only screen and (max-width:600px) {
	#header .phone {
		width: 60%;
	}
	#header .menu ul, li {
		margin: -3px;
	}
	.menu{
		display: none;
	}
	.login li{
		padding: 0px;
	}
	input[type="search"]{
		margin: 0px;
		padding: 0px;
	}
	.listbar ul{
		display: none;
	}
	.btn img{
		padding: 5px;
	}
	.btn{
		overflow: auto;
		width: 100%;
	}
	.new-product-archive h3{
		text-align: center;
	}
	.owl-item{
		text-align: center;
	}
	.footericons{
		display: none;
	}
	.text {
		text-align: justify;
		width: 100%;
		margin: 0;
		padding: 0 0px;
		text-align-last: center;
	}
	.daste{
		text-align: center;
	}
	.daste .group{
		margin-top: 20px;
	}
	.footer .gp{
		display: block;
		margin:0px auto;
	}
	.new-product h3 {
		text-align: center;
	}
	.teacher{
		display: block;
		text-align: center;
	}
	.teacher img{
		margin-right: 0px;
	}
	#baner h4 {
		text-align: justify;
		padding-bottom: 20px;
		text-align-last: center;
	}
	.formcont{
		background-image: none;
	}
	.contactform input[type="radio"]{
		margin-right:10px ;
	}
	.contactform label {
		float: right;
		margin-top: 16px;
	}
	.iconbox {
		margin-left: -25px;
	}
	.copytext {
		text-align: center;
	}
	.d-product ul {
		margin-right: 12px;
	}
}
@media only screen and (max-width:990px){
	.d-product {
		display: inline-block;
	}
	.menu{
		display: none;
	}
	.login li{
		padding: 0px;
	}
	.listbar ul{
		display: none;
	}
}
.humburger-menu{display:none}
#mySidenav{
  display:none;
}
@media screen and (max-width:990px){
.about-head{
	background: none;
}	
.footer .gp {
    width: 50%;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav ul {
  background: white;
  text-align: right;
  direction: rtl;
  margin-right: -1.4rem;
}
.sidenav li {
  background: white;
  display: flex;
  padding: 5px;
}
.sidenav li p {
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
}
.sidenav li i {
  padding: 10px;
  font-size: 16px;
}
.sidenav {
  height: 100%;
  position: fixed;
  margin-right: 10px;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: right;
  width: 0px;
  box-shadow: 0px 0px 50px #0000008a;
}
.sidenav h4{
	text-align: center;
	padding-top: 15px;
}
.humburger-menu {
    display: block;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    text-align: right;
    top: 20px;
    right: 20px;
}
}
  